html, body, #app {
  margin: 0;
  height: 100%;
}

.message-field {
  display: flex;
  flex-direction: column;
  background-color: #e2e2e2;
  height: 100%;
  width: 100%;
  padding: 20px;
  overflow-y: scroll;
  box-sizing: border-box;
}

.message {
  background-color: lightblue;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 18px;
  margin: 5px;
}

.message-sender {
  color: gray;
  font-size: 14px;
}

.actions {
  width: 100%;
  display: flex;
  margin-top: 12px;
}
.chat-list {
  height: 100%;
  width: 50%;
}
.chat-content {
  display: flex;
  width: 100%;
}
.header {
  width: 100%;
  background-color: lightblue;
  height: 40px;
  display: flex;
  justify-content: space-between;
}
.header a {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  margin-right: 20px;
  margin-top: 5px;
}
.header a:hover {
  color: #bbb;
}

.message-content {
  width: 100%;
}
.chat-list-icon {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #bbb;
  margin-right: 12px;
}
.chat-list-field {
  background-color: #e2e2e2;
  border-right: 1px solid #ccc;
}
.chat-list-field a {
  text-decoration: none;
  color: inherit;
}
.empty-chat {
  height: 100%;
  background-color: #e2e2e2;
  width: 100%;
  padding-top: 42px;
  text-align: center;
  font-size: 20px;
  box-sizing: border-box;
}
.profile {
  height: 300px;
  width: 700px;
  margin: auto;
  display: flex;
  align-items: center;
  font-size: 40px;
}
.profile a{
  margin-left: 20px;
}

.chat-list-unread {
  background-color: #3f51b5;
  font-size: 32px;
  animation: pulse 0.5s linear;
  box-shadow: 0 0 4px #3f51b5;
  width: 10px;
  height: 10px;
  border-radius: 10px;
}

@keyframes pulse {
  0% {
      transform: scale(0.8, 0.8);
  }

  50% {
      transform: scale(1.2, 1.2);
  }

  100% {
      transform: scale(1, 1);
  }
}

.chat-list-delete {
  display: none !important;
  position: absolute;
}

.chat-list-item:hover .chat-list-delete {
  display: inline-flex !important;
}
.chat-list-name {
  width: 100px;
  display: block;
}

.layout {
  height: 100%;
}

.layout-content {
  display: flex;
  height: calc(100% - 140px);
  background-color: #e2e2e2;
}

.layout-content-left {
  width: 30%;
  border-right: 1px solid #ccc;
}

.layout-content-right {
  width: 70%;
}
